<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImuneMed</title>
	<link rel="stylesheet" th:href="@{/style/style.css}"/>
</head>
<body>
    <main id="inicio">
        <div class="image"></div>
        <h1> ImuneMed </h1>

        <div>
            <img src="imgs/icon.png" alt="Médico cuidando do paciente">
            <p> "Cuidar com empatia, curar com conhecimento." </p>
        </div>
    </main>

    <section class="conteudo">
        <div class="immunemed">
            <div>
                <h2>ImuneMed</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad excepturi quis delectus cum ullam dignissimos, consequatur voluptate pariatur numquam maxime.</p>
            </div>

            <img src="imgs/medica-image.jpeg" alt="">
        </div>

        <div class="pacientes" id="pacientes">
            <h2>Pacientes</h2>

            <div class="cards-pacientes">
                <div class="relatorio">
                    <div class="titulo-relatorio">
                        <div class="bolinha"></div>
                        <h3>Nome do paciente</h3>
                    </div>
                    
                    <p>Nome da doença</p>

                    <a href="relatorio.html">Relatório</a>
                </div>

                <div class="texto-tratamentos">
                    <p> Sugestão de tratamentos e medicamentos </p>
                    <textarea name="" id="" placeholder="Digite aqui..."></textarea>
                </div>
            </div>

            <div class="cards-pacientes">
                <div class="relatorio">
                    <div class="titulo-relatorio">
                        <div class="bolinha"></div>
                        <h3>Nome do paciente</h3>
                    </div>
                    
                    <p>Nome da doença</p>

                    <a href="relatorio.html">Relatório</a>
                </div>

                <div class="texto-tratamentos">
                    <p> Sugestão de tratamentos e medicamentos </p>
                    <textarea name="" id="" placeholder="Digite aqui..."></textarea>
                </div>
            </div>

            <div class="cards-pacientes">
                <div class="relatorio">
                    <div class="titulo-relatorio">
                        <div class="bolinha"></div>
                        <h3>Nome do paciente</h3>
                    </div>
                    
                    <p>Nome da doença</p>

                    <a href="relatorio.html">Relatório</a>
                </div>

                <div class="texto-tratamentos">
                    <p> Sugestão de tratamentos e medicamentos </p>
                    <textarea name="" id="" placeholder="Digite aqui..."></textarea>
                </div>
            </div>


            <div class="cards-pacientes">
                <div class="relatorio">
                    <div class="titulo-relatorio">
                        <div class="bolinha"></div>
                        <h3>Nome do paciente</h3>
                    </div>
                    
                    <p>Nome da doença</p>

                    <a href="relatorio.html">Relatório</a>
                </div>

                <div class="texto-tratamentos">
                    <p> Sugestão de tratamentos e medicamentos </p>
                    <textarea name="" id="" placeholder="Digite aqui..."></textarea>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div>
            <a href="#inicio">Início</a>
            <a href="#pacientes">Pacientes</a>
            <a href="">Doenças</a>
            <a href="">Hospitais</a>
        </div>
    </footer>
    <p class="copyright">&copy; Todos os direitos reservados 2024.</p>    
</body>
</html>