<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImuneMed</title>
    <link rel="stylesheet" th:href="@{/style/relatorio.css}"/>
    <link rel="stylesheet" th:href="@{/style/style.css}"/>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="home.html">Início</a></li>
                <li><a href="home.html">Pacientes</a></li>
                <li><a href="home.html">Doenças</a></li>
                <li><a href="home.html">Hospitais</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h1> Nome do paciente </h1>

        <img src="imgs/grafico3.png" alt="">

        <div class="cards">
            <div class="titulo">
                <h1> Consulta </h1>
            </div>

            <div class="texto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime laboriosam ex officia distinctio a exercitationem?</p>
            </div>
        </div>

        <div class="cards">
            <div class="titulo">
                <h1> Tratamento </h1>
            </div>

            <div class="texto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime laboriosam ex officia distinctio a exercitationem?</p>
            </div>
        </div>

        <div class="cards">
            <div class="titulo">
                <h1> Tratamento </h1>
            </div>

            <div class="texto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime laboriosam ex officia distinctio a exercitationem?</p>
            </div>
        </div>

        <div class="cards">
            <div class="titulo">
                <h1> Medicamento </h1>
            </div>

            <div class="texto">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime laboriosam ex officia distinctio a exercitationem?</p>
            </div>
        </div>
    </section>
    
    <footer>
        <div>
            <a href="home.html">Início</a>
            <a href="home.html">Pacientes</a>
            <a href="home.html">Doenças</a>
            <a href="home.html">Hospitais</a>
        </div>
    </footer>
    <p class="copyright">&copy; Todos os direitos reservados 2024.</p>    
</body>
</html>